<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href='{% static "userLogin/css/index.css" %}'/>
	<title>Hello</title>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Agspert</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="{% url 'userLogin:index' %}">Home</a></li>
	      <li><a href="{% url 'userLogin:form' %}">Register</a></li>
	      <li><a href="{% url 'admin:index' %}">Admin</a></li>

	      {% if user.is_authenticated %}
	      <li><a href="{% url 'userLogin:user_logout' %}">Logout</a></li>
	      {% else %}

	      <li ><a href="{% url 'userLogin:user_login' %}">Login</a></li>
	      {% endif %}


	    </ul>
	  </div>
	</nav>	
	{% block body_block %}
	<div class = 'container'>
		<div class="jumbotron">
			<h2>This is our INDEX page.</h2>
		</div>
	</div>
	{% endblock %}

</body>
</html>